.Apresentation{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 84vh;
  padding-bottom: 8%;
  padding: 0px 10px 8% 10px;
}

.AP__texto{
  margin-right: 2%;
  margin-bottom: 5%;
}


.Apresentation h3{
  color: white;
  font-size: 1.2rem;
}

.Apresentation h1 {
  color: white;
  font-size: 3rem;
  font-family: var(--fonte-textodecorado);
  margin-bottom: -0.8vh;
}

.Apresentation h1 span {
  font-family: var(--fonte-textodecorado);
  color: var(--cor-azul);

}

.Apresentation h2 {
  color: white;
  font-size: 3rem;
  font-family: var(--fonte-textodecorado);
}

.Apresentation p {
  color: white;
  font-size: 3rem;
  font-family: var(--fonte-textodecorado);
}

.Apresentation p span{
  color: var(--cor-rosa);
  font-size: 3rem;
  font-family: var(--fonte-textodecorado);
}

.Apresentation h2 span {
  font-family: var(--fonte-textodecorado);
  color: var(--cor-azul);
}

.bubble{
  display: block;
  background-color: white;
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
}

@media screen and (max-width: 768px){
  .bubble{
    display: none;
  }
}